{% extends "layout.html" %}
{% block title %}
this is home page
{% endblock %} 

{% block content %}

    <div class="text-center">
      <h1 class="display-4">Welcome to Our Courses</h1>
      <p class="lead">Explore a variety of courses to enhance your skills.</p>
    </div>

    {% comment %} clickable card {% endcomment %}
<div class="mb-4">
  <a href="{% url 'courses' %}" class="btn btn-outline-primary">Create Courses</a>
  </div>
  <div class="row">
    {% for course in courses %}
    <div class="col-md-4 mb-4">
                                              {% comment %} it is clickable card  {% endcomment %}
      <div class="card h-100" style="width: 16rem; transition: transform 0.1s; cursor: pointer;" onclick="location.href='{% url 'card_details' course.id %}'">
                                              {% comment %}  {% endcomment %}

                                              
        <img src="{{ course.url }}" class="card-img-top" alt="Card image">
        <div class="card-body d-flex flex-column">
          <p class="card-text">{{ course.course_name }}</p>
          <p class="card-text">{{ course.course_description }}</p>
          <p class="card-text">price - {{ course.course_price }}₹</p>
          <div class="mt-auto">
            <a href="{% url 'update' course.id %}" class="btn btn-outline-warning me-3">update</a>
            <a href="{% url 'delete' course.id %}" class="btn btn-outline-danger">delete</a>
            <a href="{% url 'purchase' course.id %}" class="btn btn-outline-success">add to cart</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  
  <style>
    .card:hover {
    transform: scale(1.05);
    }
  </style>
  
</div>

{% endblock %}
     